@font-face {
    font-family: "Poppins 800";
    src: url("Fonts/Poppins-ExtraBold.ttf");
    font-display: swap
}

@font-face {
    font-family: "Poppins 400";
    src: url("Fonts/Poppins-Regular.ttf");
    font-display: swap
}

@font-face {
    font-family: "Poppins 700";
    src: url("Fonts/Poppins-Bold.ttf");
    font-display: swap
}

* {
    margin: 0;
}

header {
    font-family: "Poppins 800";
    font-size: clamp(18px, 4vw, 20px);
    text-align: center;
    color: white;
    background-color: #2472CD;
}

#Pointer {
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Poppins 400';
}

.Pointer {
    cursor: pointer;
}

nav .Menu-Button {
    display: none;
}

ul {
    list-style: none;
    padding: 0;
}

nav .Menu-Options .Menu-Options-Icons {
    display: none;
}

nav .Menu-Options li {
    display: inline;
    margin: 18px 5px 18px 5px;
}

nav .Menu-Options li a {
    color: black;
    text-decoration: none;
    font-size: 17px;
}

nav .Container-Icons-Search-Buy {
    display: flex;
}

nav .Container-Icons-Search-Buy #Lupa-Icon-For-Mobile {
    display: none;
}

nav .Container-Icons-Search-Buy .Container-Search #Close_icon_1 {
    display: none;
}

nav .Container-Icons-Search-Buy .Container-Search #Search {
    padding: 5px 0 5px 11px;
    border-radius: 10px 0 0 10px;
}

nav .Container-Icons-Search-Buy .Container-Search #Button-Search {
    background-color: #004dff;
    border: 0;
    color: white;
    font-weight: 800;
    font-size: 16px;
    height: 30px;
    border-radius: 0 0 10px 0;
}

nav .Container-Icons-Search-Buy .Button_shopping_cart {
    margin: 0 10px;
}

nav .Container-Icons-Search-Buy .Numero_De_Productos_Almacenados {
    position: relative;
    top: -13px;
    right: 8px;
}

main .Container-Carrito-De-Compra {
    position: fixed;
    top: 0;
    right: -400px;
    background-color: white;
    width: 400px;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    transition: right 1s ease;
}

main .Container-Carrito-De-Compra .Contenedor {
    height: 90%;
}

main .Container-Carrito-De-Compra .Contenedor .Contenedor-Icons {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins 700";
    margin-top: 10px;
}

main .Nicho {
    text-align: center;
}

main .Contenedor-Del-Producto {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main .Contenedor-Del-Producto .Imagenes{
    position: relative;
    top: 2px;
    display: flex;
    flex-direction: column;
    height: 314px;
    overflow: hidden;
}

main .Contenedor-Del-Producto .Imagenes div {
    height: 65px;
    width: 65px;
    font-size: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(216.1, 95.2%, 59.2%);
    border: 3px solid #bfbfbf;
    border-radius: 10px;
}


main .Contenedor-Del-Producto .Imagenes img {
    border-radius: 10px;
    border: 3px solid #bfbfbf;
    margin-top: 3px;
    cursor: pointer;
}

main .Contenedor-Del-Producto .Imagenes picture:nth-of-type(1) img {
    border-color: #3483fa;
}

main .Contenedor-Del-Producto .Ul .Nombre {
    font-size: 23px;
}

.rating {
    display: inline-block;
    opacity: 1;
}
  
.rating input {
    display: none;
    opacity: 1;
}
  
.rating label {
    float: right;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s, transform 0.3s, box-shadow 0.3s;
}
  
.rating label:before {
    content: '\2605';
    font-size: 30px;
    transition: color 0.3s;
}
  
.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
    color: #ffc300;
    transform: scale(1.2);
    transition: color 0.3s, transform 0.3s, box-shadow 0.3s;
    animation: bounce 0.5s ease-in-out alternate;
}
  
@keyframes bounce {
  to {
    transform: scale(1.3);
   }
}

main .Contenedor-Del-Producto .Ul .Precio {
    font-size: 20px;
    margin-bottom: 10px;
}

main .Contenedor-Del-Producto .Ul .Comprar_or_add {
    margin-top: 16px;
}

main .Contenedor-Del-Producto .Ul .Comprar_or_add div #Comprar_ahora {
    background-color: #1D71E6;
    color: white;
    margin: 0;
    padding: 0;
    height: 34px;
    width: 116px;
    border: 0;
    border-radius: 24px;
}

main .Contenedor-Del-Producto .Ul .Comprar_or_add div #anadir_al_carrito {
    text-align: left;
    padding-left: 10px;
    margin-left: 10px;
    background-color: #1D71E6;
    color: white;
    height: 34px;
    width: 116px;
    border: 0;
    border-radius: 24px;
}

hr {
    background-color: #e5e5e5;
  height: 1px;
  border: 0;
  width: 80%;
  margin-top: 30px;
  margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

main .Caracteristicas {
    display: flex;
    justify-content: center;
}

main .Descripcion {
    width: 90%;
    color: #666;
    height: auto;
    width: 70%;
    margin: 0 auto;
    text-align: justify;
}

main .Descripcion p {
    margin: 10px;
}

main .inputs {
    display: flex;
    justify-content: center;
}

main .inputs input:nth-of-type(1) {
    width: 30%;
}
@media (max-width: 769px) {
    main .inputs input:nth-of-type(1) {
        width: 50%;
    }
}

@media (max-width: 399px) {
    main .Contenedor-Del-Producto .Imagenes {
        top: 622px;
        flex-direction: row;
    }

    main .Contenedor-Del-Producto .Imagenes img {
        margin-left: 5px;
    }

    main .Contenedor-Del-Producto .Ul .Nombre {
        margin-top: 70px;
    }

    main .Container-Carrito-De-Compra {
        width: 320px;
    }
}

@media (max-width: 1074px) {
    nav .Container-Icons-Search-Buy .Container-Search {
        position: absolute;
        top: -70px;
        left: 0;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ccc;
        transition: top 1s ease;
    }

    nav .Container-Icons-Search-Buy .Container-Search #Close_icon_1 {
        display: inline;
        margin-left: 5px;
        margin-top: 5px;
    }

    nav .Container-Icons-Search-Buy #Lupa-Icon-For-Mobile {
        display: inline;
    }
}

@media (max-width: 799px) {
    nav .Menu-Button {
        display: inline;
    }

    nav .Menu-Options {
        position: absolute;
        left: -252px;
        top: 0;
        background-color: #ccc;
        width: 252px;
        z-index: 1;
        transition: left 1s ease;
    }

    nav .Menu-Options li {
        display: block;
        padding-left: 20px;
    }
    
    nav .Menu-Options .Menu-Options-Icons {
        display: flex;
        align-items: center;
    }

    nav .Menu-Options .Menu-Options-Icons h3 {
        margin: 0 120px 3px 8px
    }
}

/* 686 display block*/