* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #2d8eff;
    color: white;
    text-align: center;
    font-weight: 800;
    font-size: clamp(16px, 4vw, 20px);
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav img {
    width: 26px;
    height: auto;
}

nav #Menu-Button {
    display: none;
}

ul {
    list-style: none;
}

nav .Menu-Options li {
    display: inline;
    margin: 18px 5px 18px 5px;
}

ul li a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}

nav .Menu-Options .Menu-Options-Icons {
    display: none;
}

.Container-Icons-Search-Buy .Container-Search #Search {
    padding: 5px 0px 5px 11px;
    border-radius: 10px 0px 0px 10px;
}

.Container-Icons-Search-Buy .Container-Search #Button-Search {
    background-color: #2d8eff;
    border: 0;
    color: white;
    font-weight: 800;
    font-size: 16px;
    height: 30px;
    border-radius: 0 0 10px 0;
}

.Container-Icons-Search-Buy .Numero {
    position: relative;
    top: -13px;
    right: -1px;
}

main #Titulo {
    text-align: center;
    margin-bottom: 30px;
}

main .Contenedor-De-Productos .Productos div #Precio-Real-O-Descuento {
    margin-right: 20px;
    color: #212529;
    font-weight: 700;
}

main .Contenedor-De-Productos .Productos div #Precio-Real {
    color: #7a7a7a;
    text-decoration: line-through;
    margin-right: 68px;
}

main .Contenedor-De-Productos .Productos div button {

    background-color: #2D8EFF;
    color: white;
    border: 0;
    border-radius: 6px;
    font-size: 15px;
    height: 24px;
}

main .Contenedor-De-Productos .Productos .Lugar_Donde_Se_Mostraran_Los_Descuentos {
    background-color: #212529;
    color: white;
    height: 22px;
    position: relative;
    top: -326px;
    width: fit-content;
    padding-right: 5px;
    border-radius: 8px;
}

main .Contenedor-De-Productos .Productos .Lugar_Donde_Se_Mostraran_Los_Descuentos img {
    margin-left: 6px;
}

main .Contenedor-De-Productos .Productos .Lugar_Donde_Se_Mostraran_Los_Descuentos a {
    position: relative;
    top: -17px;
}

main .Contenedor-De-Productos .Productos div button a {
    position: relative;
    top: -14px;
}

main .Contenedor-De-Productos .Productos div button img {
    position: relative;
    top: 16px;
}

.Contenedor-De-Productos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.Contenedor-De-Productos .Productos {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);      
    padding: 10px;
    border-radius: 10px;
    flex: 0 0 320px;
    height: auto;
}

main .Contenedor-De-Productos .Productos img {
    width: 320px;
    height: 320px;
    margin-bottom: 13px;
}

@media (min-width: 1100px) {
     
    .Container-Icons-Search-Buy #Lupa-Icon-For-Mobile {
        display: none;
    }

    .Container-Icons-Search-Buy .Container-Search #Close-Icon-1 {
        display: none;
    }
}

@media (max-width: 1099px) {
    .Container-Icons-Search-Buy .Container-Search {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: #e8e8e8;
        position: absolute;
        top: -100%;
        left: 0;
        height: 70px;
        transition: top 1s ease;
    }
}

@media (max-width: 899px) {
    nav #Menu-Button {
        display: inline;
    }

    nav .Menu-Options {
        position: absolute;
        top: 0;
        left: -100%;
        background-color: rgb(204, 204, 204);
        width: 250px;
        transition: left 1s ease;
    }

    nav .Menu-Options .Menu-Options-Icons {
        display: flex;
        align-items: center;
        margin-top: 10px;
        position: relative;
        left: -20px;
    }

    nav .Menu-Options li {
        display: block;
    }
}

@media (max-width: 380px) {
    main .Contenedor-De-Productos .Productos {
        flex: 0 0 280px;
    }

    main .Contenedor-De-Productos .Productos img {
        width: 280px;
        height: auto;
    }

    main .Contenedor-De-Productos .Productos .Lugar_Donde_Se_Mostraran_Los_Descuentos {
        top: -289px;
    }

    main .Contenedor-De-Productos .Productos div button a {
        top: 3px;
        left: -12px;
    }

    main .Contenedor-De-Productos .Productos div button #Añadir-En-El-Carro-De-Compra {
        top: -18px;
        left: 48px;
    }

    main .Contenedor-De-Productos .Productos div #Precio-Real {
        margin-right: 38px;
    }
}
